/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2018, 3:54:57 AM
    Author     : Selasi
*/

body{
    font-family: Roboto, sans-serif;
}
#navbar{
    background-color: #2196f3;
    color: #fff;
    box-shadow: darkgrey 3px 3px 5px;
}
#park, #retreive{
    border: 1px #fff solid;
}
button{
    background-color: #2196f3;
    color: #fff;
}
#instructions, #map, #directions{
    box-shadow: darkgray 3px 3px 5px;
    border: 1px #000 solid;
}
#gotIt{
    border: 1px #000 solid;
}